.ram{
    background-color: yellow;
    width: 100%;
    height: auto; /* adjust the height */
    display: flex;
    border:1px solid black;
    align-items: start;
    justify-content:center;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1rem;
}